@import "../partials/_mixins.scss";

body {
  background-color: #444;
  color: #fff;
  background-image: url("../img/away.png");
  background-size: cover;
  background-repeat: no-repeat;

  @include break(md) {
    background-image: none;
  }
}