body {
  background-color: #444;
  color: #fff;
  background-image: url("../img/away.png");
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 992px) {
    body {
      background-image: none; } }
